version: "3"
include:
  - proxy.yaml
services:
  web:
    image: cr.yandex/crprjpklgro088gr9n08/my_python:1.0.0
    env_file:
      - ./.env
    networks:
      backend:
        ipv4_address: 172.20.0.5
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8
    env_file:
      - ./.env
    networks:
      backend:
        ipv4_address: 172.20.0.10
    restart: on-failure
    healthcheck:
      test: ["CMD", 'mysqladmin', 'ping', '-h', 'localhost', '-u', '$MYSQL_USER', '--password=$MYSQL_PASSWORD']
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 55

